<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    <p>
      Search: 
      <input ng-model="$ctrl.query" />
    </p>
    
    <p>
      Sort by :
      <select name="" id="" ng-model="$ctrl.orderProp">
        <option value="nom">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </p>  

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="students">
        <li ng-repeat="student in $ctrl.students | filter:$ctrl.query
        | orderBy:$ctrl.orderProp">
          <div style="border:1px solid black;padding:10px;">
            <span><strong>Nom, prénom : </strong></span>
            <span>{{student.nom}}</span> <span>{{student.prenom}}</span>
            <p><span>age : </span>{{student.age}}</p>
            <a href="#!/students/{{student._id}}">
              <button>Detail >></button>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>